<div class="container">
  <div class="row">
    <% @memes.each do |m| %>
        <div class="col-lg-2">
          <div class="thumnail">
            <%= link_to image_tag(m.img,class:'all-meme'), m%>
          </div>
        </div>
    <% end %>
  </div>
</div>
