<h1>Welcome to the Meme Economy</h1>
<h2>
	"With dank memes, comes great responsbility"-Albert Einstein 1727</br>
	Here in the Meme Economy, you can buy, sell, invest, and track memes and MemeMagic<sup>TM</sup>
</h2>
<h1>
	Top Daily Memes:
</h1>
<table id="top-memes">
	<tr>
		<td>Pepe le Pew</td>
		<td>
			<img src=''/>
		</td>
	</tr>
	<tr>
		<td>Rage Pepe</td>
	</tr>
	<tr>
		<td>Eclipse Pepe</td>
	</tr>
	<tr>
		<td>Cosmic Eclipse Pepe</td>
	</tr>
	
</table>
