<h1>Welcome to the Meme Economy</h1>
<h2>
	"With dank memes, comes great responsbility"-Albert Einstein 1727</br>
	Here in the Meme Economy, you can buy, sell, invest, and track memes and MemeMagic<sup>TM</sup>
</h2>
<h1>
	Top Daily Memes:
</h1>
<div id="top-memes">
	<% @memes.each do |m| %>
				<%= link_to image_tag(m.img,class:'meme'), m%>
	<% end %>
</div>
